parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: false
    paths:
        - %currentWorkingDirectory%/src/
    ignoreErrors:
        # false-positive
        - '#function register_shutdown_function expects callable#'
